@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700|Exo+2:300,600);

 
body {
  font-family: "Exo 2", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.2em;
  background: #fff;
  color: #475B62;
  margin:0;
}
 
header,section,footer{
  float:left;
  clear:both;
  display:block;
}
strong {
  font-weight: 600;
}
 
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', "Helvetica Neue", Helvetica, sans-serif;
  color: #000;
  font-size: 1.45em;
  margin-bottom: .3em;
}
 
p {
  margin-bottom: .5em;
}
 h1{
    float:left;
    margin: 20px 0 0 20px;
    font-weight: 600;
 }
h2{
  clear: both;
  float: left;
  margin: 40px 0 40px 43px;
}
.container {
  width: 100%;
  float:left;
  padding:0;
}
.chart{
  float:left;
  clear:both;
  position: relative;
  width:100%;
}

article{

  position:relative;
}
@media all and (max-width: 500px) {
  h2 {
    padding-left: 10px;
    text-align: center;
  }
  .container {
    width: 100%;
  }
}
 

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {

}
.barContainer:hover .line{

  display:block;
}
.bar:hover{
    cursor: pointer;
}

.barContainer .line{
  border-top:1px dashed #000;
  opacity:0;
}
.barContainer:hover .line{
  border-top:1px dashed #000;

}
footer{
  margin-left:40px;
}
#graphic {
  margin: 0 auto;
}

.tick{

    stroke :grey;
    stroke-width : 0.2px;
    stroke-dasharray :3,3;


}

