
body *,text,a,button,.button{
  font-family:$base-FontFamily;


}
body{
	
background-attachment: fixed;
background-color: $mainBGColor;
/*background-image: url("../img/bg.png");*/
background-position: 282% 186%;

}
.main,.mainSubContainer{

	margin:0;
	padding:0;
} 

