#chartUi {
	background-color: #eee;
	max-height: 96.538%;
	overflow: scroll;
	padding: 1% 0 0 0;
	position: fixed;
	padding:1%;
	margin-top:1%;
	right: 1%;
	top: 0;
	width: 28%;
	z-index: 99;
	.uiContainer{



		fieldset{
			padding:0;
			margin:0;
			border:none;
		}

		select,input{
			
			border-radius:4px;
		}

		.toolContainer{
			background-color:#ccc;
			margin-bottom:15px;
		    border-radius:4px; 
		}
	}

}