#chartContainer{
    height: 85%;
    left: 0;
    padding: 0 1%;
    position: absolute;
    top: 13%;
    width: 74%;


      h2{
        color:#eee;
      }    
    .axis {
      font: 10px sans-serif;
        path, line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        } 
    }

    .bar:hover{
        cursor: pointer;
    }

    .barContainer {
        .line{
          display:block;
          border-top:1px dashed #000;
          opacity:0;
        }
    }

    .barContainer:hover .line{
      border-top:1px dashed #000;
    }

    .hide{
      opacity: 0!important;
    }

}
#chartContainer.charts{
    
    width:100%;
    #imgcontainer{

       #verticalalign1 #horizontalalign1 #horizontalalign2 {

           h1{
                margin-top:-15%;
                marin-bottom:40px;
           }
           #center1 {
                a{
                    padding-bottom:10px;
                }
            }
        }    
    }
}