.contentPanel{

		#chartUi {

			  background-color: $eee;
			  min-height: 85%;
			  max-height: 85%;
			//  max-height: 96%;
			  overflow: scroll;
			  padding: 1%;
			  position: absolute;
			  right: 1%;
			  top: 13%;
			  width: 25%;
			  z-index: 99;
			  border-radius:5px;
			  .alert{
				  opacity:0;
				  box-shadow:0 1px 4px -1px #000000;
				  border-radius:2px;
				  @include  transition($timing:ease , $duration:0.5s);
				  cursor:normal;
			  }
			  .activeReset.alert{   
			    opacity:1; 
			      cursor:pointer;
			  }
			.publish{

				  background-color: #92c23d;
				  box-shadow: 0 1px 4px -1px #000000;
				  font-weight: bold;
				  margin-bottom: 10px;

				}
			h2{

				color:$333;
				text-align:center;
			}
			.uiContainer{


				.toolContainer{
			       	margin-bottom:15px;
				    border-radius:2px; 
			       	background-color: $secondaryBGColor;
					@include  transition($timing:linear , $duration:0.7s);
					box-shadow:0 1px 4px -1px $borderColor;
					h3{
						cursor:pointer;
			
						background:url(../img/down.png) no-repeat 100% 3px;
						margin: 0;
						padding: 0.5rem;
						font-size:1.5rem;
					 }

					 label{
					 	color:#333;
					 	padding:0.5rem 0 0 0; 
					 }
					.toolSubContainer {
						@include  transition($timing:ease , $duration:0.4s);
						height:0;
			            opacity:0;
			            overflow:hidden;
					}

					fieldset{
						padding:0;
						margin:0;
						border:none;
					    border-radius: 2px;
					   padding-bottom:10px;
					//	@include  transition($timing:linear , $duration:0.3s);
					}
					fieldset:hover{
					 // box-shadow: 1px 3px 6px -1px #000;
					 @include  transition($timing:ease , $duration:0.4s);

					}

					select,input{
						
						border-radius:4px;
					}
		

				}
				.toolContainer:hover{
					box-shadow:0 1px 4px -1px $borderColor;

				}
				.colapse.toolContainer{
					background-color:$blue;

					h3{
						color:#fff;
					      background:url(../img/up.png) no-repeat  100% 3px;
				     }
				     label{
				     color:#fff;
				     }
					.toolSubContainer{
							@include  transition($timing:ease , $duration:0.3s);
						    height:auto;
				            opacity:1;
				            overflow:visible;
				           


						}
				}
				.chartsMenu{
					margin:0 0 10px 0;
					padding:0;
					width:100%;
					float:left;
					list-style:none;
					li{
						border: 1px solid #333;
						border-radius: 2px;
						cursor: pointer;			
						padding: 4% 0;
						display:block;
						width:100%;
						margin:0;
						float:left;
						list-style:none;
						margin-top:10px;
						@include  transition($timing:linear , $duration:0.3s);
						h5{
							text-align:center;
						}
						img{
							float:right;
							margin-left:5px
						}			
					}
					li.selected,li:hover{
						@include  transition($timing:ease , $duration:0.4s);
						background-color:$blue;
						color:$white;
						border: 1px solid #999;
						h5{
						   color:#eee;
						}
					}


				}






			}

		}

}

.contentPanel.chart #chartUi{
	
		.uiContainer{


			.toolContainer{
			  background-color:#92C23D;
				h3{
				color:#fff;
				}
			}
		}
}

@media only screen and (max-width: 60.063em) { 

	.contentPanel.chart, .contentPanel.select{
		float:left;
		position:static;
		float:left;
		width:100%;
		#chartUi{
		    float: left !important;
			margin-top: 10px;
			overflow: visible; 
			position: static !important;
			width: 100%;
			min-height:auto;
			max-height:800%;


		
		}
    }

}


@media only screen and (max-width: 40.063em) {
	.contentPanel{	
	
			#chartUi{
			    float: left !important;
				margin-top: 10px;
				overflow: visible;
				position: static !important;
				width: 100%;

			}

    }


}
