#chartContainer{
   
    .axis {
      font: 10px sans-serif;
        path, line {
            fill: none;
            stroke: $borderColor;
            shape-rendering: crispEdges;
        } 
    }
    .bar:hover{
        cursor: pointer;
    }

    .barContainer {
        .line{
          display:block;
          border-top:1px dashed $borderColor;
          opacity:0;
        }
    }

    .barContainer:hover .line{
      border-top:1px dashed $borderColor;
    }

    .hide{
      opacity: 0!important;
    }

}